.c-phone-input {
  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
  color: var(--main-text-color, #f9f9fb);

  &__label {
    font-size: var(--label);
    line-height: var(--line-height);
  }

  &__input {
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid;
    background-color: transparent;
    color: var(--main-text-color, #f9f9fb);

    &::placeholder {
      opacity: 1;
      color: #b6b6b8;
    }

    &:focus {
      border: 2px solid var(--interaction-color, #2566f2);
      outline: none;
    }
  }
}
