.c-notification {
  --notification-text-color: #163d91;
  --notification-background-color: #e7eeff;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid var(--notification-text-color);
  border-left-width: 4px;
  background: var(--notification-background-color);
  text-align: left;

  &__text {
    color: #1b1b1d;
    &__heading {
      color: var(--notification-text-color);
      font-size: var(--paragraph-large);
    }
  }
}
